@import "tailwindcss";

@theme {
  --color-ivory: #F6F1E6;
  --color-onyx: #15120E;
  --color-gold: #B9925A;
  --color-gold-light: #E4C88F;
  --color-taupe: #7B7264;
  --color-line: #DCD2BE;
  --color-rose: #C4988A;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-cormorant: var(--font-cormorant);
}

body {
  background-color: var(--color-ivory);
  color: var(--color-onyx);
  font-family: var(--font-inter), sans-serif;
}
